public/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Elephant design</title>
    <!-- meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ilya Lynd ilya.lynd@gmail.com">
    <meta name="theme-color" content="#f4f4f6">
    <!-- icon & css-->
    <link href="/image/favicon-32.png" rel="icon" sizes="32x32">
    <link href="/image/favicon-128.png" rel="icon" sizes="128x128">
    <link href="/image/favicon-180.png" rel="apple-touch-icon" sizes="180x180">
    <link href="/image/favicon-192.png" rel="icon" sizes="192x192">
    <link href="/manifest.json" rel="manifest">
  <link href="/assets/css/main.css?v=79a069c" rel="stylesheet"></head>
  <body>
    <div id="app">
<header>
  <div class="container">
    <div class="header content">
      <div class="header-logo"><a href="/" title="Elephant design"><img src="/image/logo.svg" alt="Elephant design"></a></div>
      <nav class="header-menu">
        <ul>
          <li><a href="#types" data-action="scroll-to" title="Виды работ">Виды работ</a></li>
          <li><a href="#examples" data-action="scroll-to" title="Скачать проекты">Скачать проекты</a></li>
          <li><a href="#about" data-action="scroll-to" title="О нас">О нас</a></li>
          <li><a href="#cooperation" data-action="scroll-to" title="Оставить заявку">Оставить заявку</a></li>
          <li><a href="tel:+79110857803" title="Позвонить">+79110857803</a></li>
          <li><a href="mailto:dhon-velogon@yandex.ru" title="Написать">dhon-velogon@yandex.ru</a></li>
        </ul>
      </nav>
      <div class="header-menu-bar"><a href="#" data-action="open-menu" title="Открыть меню">
          <svg>
            <use href="/image/icon/menu.svg#menu"></use>
          </svg></a></div>
    </div>
  </div>
</header>
<!-- Menu-->
<div class="menu"><a class="menu__close" href="#" data-action="close-menu" title="Закрыть меню">
    <svg>
      <use href="/image/icon/close.svg#close"></use>
    </svg></a>
  <div class="container">
    <div class="main content">
      <div class="main-logo"><a href="/" data-action="close-menu" title="Elephant design"><img src="/image/logo.svg" alt="Elephant design"></a></div>
      <nav class="main-menu">
        <ul>
          <li><a href="#types" data-action="scroll-to" title="Виды работ">Виды работ</a></li>
          <li><a href="#examples" data-action="scroll-to" title="Скачать проекты">Скачать проекты</a></li>
          <li><a href="#about" data-action="scroll-to" title="О нас">О нас</a></li>
          <li><a href="#cooperation" data-action="scroll-to" title="Оставить заявку">Оставить заявку</a></li>
          <li><a href="tel:+79110857803" title="Позвонить">+79110857803</a></li>
          <li><a href="mailto:dhon-velogon@yandex.ru" title="Написать">dhon-velogon@yandex.ru</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<!-- Menu end-->
      <main>
        <section id="index">
          <div class="container">
            <div class="index content">
              <div class="index__image">
                <picture>
                  <source srcset="/image/illustration/main.jpg 1x, /image/illustration/main@2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg"><img src="/image/illustration/main.m.jpg" srcset="/image/illustration/main.m@2x.jpg 2x" loading="eager" alt="illustration">
                </picture>
              </div>
              <div class="index__main">
                <div class="index__title">
                  <h1>Elephant design</h1>
                </div>
                <div class="index__lead">проектно-строительная компания</div>
                <div class="index__button">
                  <div class="button button--main"><a href="#examples" data-action="scroll-to" title="Проекты">Проекты</a></div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="types">
          <div class="container">
            <div class="types content">
              <div class="types__title">
                <h2>Виды работ</h2>
              </div>
              <ul class="types-list">
                <li class="types-list__item">
                  <div class="types-list__title">
                    <h4>Проектирование<br>наружных сетей</h4>
                  </div>
                  <div class="types-list__text">
                    <p>Водопровод, канализация, теплоснабжение</p>
                  </div>
                  <div class="types-list__button">
                    <div class="button button--empty"><a href="#" title="Страница в разработке">Страница в разработке</a></div>
                  </div>
                </li>
                <li class="types-list__item">
                  <div class="types-list__title">
                    <h4>ППР</h4>
                  </div>
                  <div class="types-list__text">
                    <p>(Проект Производства Работ)<br>Все виды строительно-монтажных работ</p>
                  </div>
                  <div class="types-list__button">
                    <div class="button button--empty"><a href="work-ppr.html" title="Подробнее">Подробнее</a></div>
                  </div>
                </li>
                <li class="types-list__item">
                  <div class="types-list__title">
                    <h4>ППРк</h4>
                  </div>
                  <div class="types-list__text">
                    <p>(Проект Производства Работ кранами)<br>Башенные краны, монтажные краны, краны-манипуляторы, краны-трубоукладчики (все виды ПС)</p>
                  </div>
                  <div class="types-list__button">
                    <div class="button button--empty"><a href="/work-pprk.html" title="Подробнее">Подробнее</a></div>
                  </div>
                </li>
                <li class="types-list__item">
                  <div class="types-list__title">
                    <h4>ПОД</h4>
                  </div>
                  <div class="types-list__text">
                    <p>(Проект Организации Демонтажа)</p>
                  </div>
                  <div class="types-list__button">
                    <div class="button button--empty"><a href="#" title="Страница в разработке">Страница в разработке</a></div>
                  </div>
                </li>
                <li class="types-list__item">
                  <div class="types-list__title">
                    <h4>ПОС</h4>
                  </div>
                  <div class="types-list__text">
                    <p>(Проект Организации Строительства)<br>Все виды строительно-монтажных работ</p>
                  </div>
                  <div class="types-list__button">
                    <div class="button button--empty"><a href="/work-pos.html" title="Подробнее">Подробнее</a></div>
                  </div>
                </li>
                <li class="types-list__item">
                  <div class="types-list__title">
                    <h4>ТК</h4>
                  </div>
                  <div class="types-list__text">
                    <p>(Технологическая Карта)<br>Все виды строительно-монтажных работ</p>
                  </div>
                  <div class="types-list__button">
                    <div class="button button--empty"><a href="/work-tk.html" title="Подробнее">Подробнее</a></div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <div id="panorama">
          <picture>
            <source srcset="/image/illustration/panorama.jpg 1x, /image/illustration/panorama@2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg"><img src="/image/illustration/panorama.m.jpg" srcset="/image/illustration/panorama.m@2x.jpg 2x" loading="lazy" alt="illustration">
          </picture>
        </div>
<section id="examples">
  <div class="container">
    <div class="examples content">
      <div class="examples__title">
        <h2>Примеры работ</h2>
      </div>
      <ul class="examples-list">
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>Газоснабжение котельной</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/im-hmL6vvv4pJA" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>ППР на монтаж М/К при строительстве крытого спортивного комплекса</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/Nl-oNNUsdq3I4w" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>ППР по строительству наружного водопровода и канализации</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/hQrep6TXH9VTPw" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>ППР на отделочные работы</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/_CGngI0p0ElAHg" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>ППР на прокладку тепловых сетей</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/2W4JzntyC6eyng" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>ППР на отопление и вентиляцию здания</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/NLP-QaJulSAL0g" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>ППР на устройство катлована</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/yUWo2LxevLGazA" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>ППР на устройство свайного основания</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/teeKqCCJDRol5w" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
        <section id="about">
          <div class="container">
            <div class="about content">
              <div class="about__group">
                <div class="about__main">
                  <div class="about__title">
                    <h2>О нас</h2>
                  </div>
                  <div class="about__text">
                    <p>Наш союз инженеров-проектировщиков трудится на рынке проектирования с 2006 года. На счету нашей группы около трех десятков значимых инфраструктурных объектов и сотки объектов меньшей значимости. Мы проектировали разделы ППР «Атомная станция в Бангладеш», несколько инженерных объектов в порту Луги, крупный железнодорожный узел «Восточный-Находка», крупные водоводы г. Санкт-Петербурга, Тоннельные переходы г. Москвы. Мы занимаемся культурным наследием, и наши значимые объекты — «Церковь Успения в д. Мелётово с росписью 1462 г. (Псковская область, Псковский район, д. Мелётово)» и "Собор Троицкий, Троицкого Михаило-Клопского монастыря, 1569 г." (Новгородская область, д. Сельцо). На этих объектах был получен колоссальный практический опыт, применены инновационные решения, приведшие к правильному распределению этапности работ, что привело к уменьшению затрат на технику и сроки производства работ.</p>
                    <p>Люди, которые работают в нашей команде, действующие строители, кто-то перешёл в проектирование в 2017-2021 гг. Я работал на наружных сетях водоснабжения и канализования до 2018 г., совмещая строительство в государственных и частных структурах и свое проектирование (мне это доставляло внутренне удовлетворение, и уводило от повседневных строительных проблем).</p>
                  </div>
                </div>
                <div class="about__info">
                  <div class="about__image"><img src="/image/illustration/about_1.jpg" srcset="/image/illustration/about_1@2x.jpg 2x" loading="lazy" alt="illustration">
                    <div class="about__count"><span>17 711</span><br>проектов</div>
                  </div>
                  <div class="about__image"><img src="/image/illustration/about_2.jpg" srcset="/image/illustration/about_2@2x.jpg 2x" loading="lazy" alt="illustration">
                    <div class="about__count"><span>382</span><br>заказчика</div>
                  </div>
                </div>
              </div>
              <div class="about__text">
                <p>Отдельно хотел бы отметить своего ШЕФА Владимира Андреевича (человека с большой, правильно поняли!). В 2008 г. он отправил группу молодых инженеров предприятия на стажировку в Германию, в числе которых посчастливилось быть мне. Там уделяют большое внимание до производственной инженерной подготовке объекта. Используя при этом не только общий опыт временных рамок строительства, а и личные практические наработки своей компании. Так я наблюдал как один из работников компании по имени Пауль, считал «плевенькую» сеть в 89м на захудалой берлинской улочке. Диаметр трубы 110 мм, полиэтилен. Расчет включал: бригада, занимающаяся разработкой грунта, затраты времени на шурфовку сетей, ширину ковша экскаватора, количество мешков для мусора с затратами на загрузку и выгрузку их, а также места их складирования, ширина улицы у каждого дома по углам. Затем подготовка в цеху полиэтиленовых тройников, отводов, фланцев, задвижек, регулировочных муфт, швов сварки и затраты на каждый процесс, от сварки до обтяжки болтов. Затем движение этих людей (временные рамки задействования), затраты на их зарплату и технику. Затем на засыпку и благоустройство. Когда я пошутил с ним, сказав зачем это, давай сразу в бой? Он меня не понял, что-то выписывал пол часа, и представил мне затраты. Затем сказал, что он на это потратил всего лишь три дня вместо отведенных 8-13 (это всего лишь моя зарплата, а не зарплата всей бригады и техники-сказал он), что его ждет премия в конце месяца. И он все-таки меня удивил, кинув в конце разговора, в его фирме есть график расчета подобной улицы, и ему бы дольше задержаться просто бы не дали. Вот такая до педантичности практичность, приводящая к пониманию, а понимание приводит к экономическому процветанию предприятия.</p>
                <p>Я благодарен всем своим заказчикам за бесценный опыт.</p>
              </div>
              <div class="about__quotes">
                <div class="about__icon">
                  <svg>
                    <use href="/image/icon/quotes.svg#quotes"></use>
                  </svg>
                </div>
                <q>Создание высоко функциональных, сбалансированных в отношении цена-качество объектов</q>
                <div class="about__mission">— Задача Elephant Design</div>
              </div>
            </div>
          </div>
        </section>
<section id="cooperation">
  <div class="container">
    <div class="cooperation content">
      <div class="cooperation__image">
        <picture>
          <source srcset="/image/illustration/cooperation.jpg 1x, /image/illustration/cooperation@2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg"><img src="/image/illustration/cooperation.m.jpg" srcset="/image/illustration/cooperation.m@2x.jpg 2x" loading="lazy" alt="illustration">
        </picture>
      </div>
      <div class="cooperation__main">
        <div class="cooperation__title">
          <h2>Мы готовы к сотрудничеству!</h2>
        </div>
        <div class="cooperation__info">
          <p>Свяжитесь с нами любым удобным для Вас способом:</p>
          <p>Эл.почта: <a href="mailto:dhon-velogon@yandex.ru" title="Написать">dhon-velogon@yandex.ru</a></p>
          <p>Whatsapp: <a href="//wa.me/79110857803?text=" target="_blank" title="Написать в Whatsapp">+7 (911) 085-78-03</a></p>
          <p>Или оставьте свои контакты:</p>
        </div>
        <form class="form cooperation__form" name="cooperation" action="/" autocomplete="off" accept-charset="utf-8">
          <fieldset class="form__line">
            <input class="form__input" type="text" name="contact" required placeholder="Email, номер телефона" value="" title="Введите ваш email или номер телефона">
            <div class="form__button">
              <div class="button"><a href="#" data-action="send-form" title="Отправить">Отправить</a></div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>
      </main>
<footer>
  <div class="container">
    <div class="footer content">
      <nav class="footer-menu">
        <ul>
          <li><a href="#examples" data-action="scroll-to" title="Скачать проекты">Скачать проекты</a></li>
          <li><a href="tel:+79110857803" title="Позвонить">+79110857803</a></li>
          <li><a href="mailto:dhon-velogon@yandex.ru" title="Написать">dhon-velogon@yandex.ru</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
    </div>
    <!-- js-->
  <script defer src="/assets/js/main.js?v=f5d9091"></script></body>
</html>

src/view/index.pug
extends include/main

block variables
  - let title = 'Elephant design'
  - let description = ''
  - let page = 'index'

block content
  section#index
    .container
      .index.content
        .index__image
          picture
            source(srcset='/image/illustration/main.jpg 1x, /image/illustration/main@2x.jpg 2x' media='(min-width: 768px)' type='image/jpeg')
            img(src='/image/illustration/main.m.jpg' srcset='/image/illustration/main.m@2x.jpg 2x' loading='eager' alt='illustration')
        .index__main
          .index__title
            h1 Elephant design
          .index__lead проектно-строительная компания
          .index__button
            .button.button--main
              a(href='#examples' data-action='scroll-to' title='Проекты') Проекты
  section#types
    .container
      .types.content
        .types__title
          h2 Виды работ
        ul.types-list
          li.types-list__item
            .types-list__title
              h4
                | Проектирование
                br
                | наружных сетей
            .types-list__text
              p Водопровод, канализация, теплоснабжение
            .types-list__button
              .button.button--empty
                a(href='#' title='Страница в разработке') Страница в разработке
          li.types-list__item
            .types-list__title
              h4 ППР
            .types-list__text
              p
                | (Проект Производства Работ)
                br
                | Все виды строительно-монтажных работ
            .types-list__button
              .button.button--empty
                a(href='work-ppr.html' title='Подробнее') Подробнее
          li.types-list__item
            .types-list__title
              h4 ППРк
            .types-list__text
              p
                | (Проект Производства Работ кранами)
                br
                | Башенные краны, монтажные краны, краны-манипуляторы, краны-трубоукладчики (все виды ПС)
            .types-list__button
              .button.button--empty
                a(href='/work-pprk.html' title='Подробнее') Подробнее
          li.types-list__item
            .types-list__title
              h4 ПОД
            .types-list__text
              p (Проект Организации Демонтажа)
            .types-list__button
              .button.button--empty
                a(href='#' title='Страница в разработке') Страница в разработке
          li.types-list__item
            .types-list__title
              h4 ПОС
            .types-list__text
              p
                | (Проект Организации Строительства)
                br
                | Все виды строительно-монтажных работ
            .types-list__button
              .button.button--empty
                a(href='/work-pos.html' title='Подробнее') Подробнее
          li.types-list__item
            .types-list__title
              h4 ТК
            .types-list__text
              p
                | (Технологическая Карта)
                br
                | Все виды строительно-монтажных работ
            .types-list__button
              .button.button--empty
                a(href='/work-tk.html' title='Подробнее') Подробнее
  #panorama
    picture
      source(srcset='/image/illustration/panorama.jpg 1x, /image/illustration/panorama@2x.jpg 2x' media='(min-width: 768px)' type='image/jpeg')
      img(src='/image/illustration/panorama.m.jpg' srcset='/image/illustration/panorama.m@2x.jpg 2x' loading='lazy' alt='illustration')
  include include/examples
  section#about
    .container
      .about.content
        .about__group
          .about__main
            .about__title
              h2 О нас
            .about__text
              p Наш союз инженеров-проектировщиков трудится на рынке проектирования с 2006 года. На счету нашей группы около трех десятков значимых инфраструктурных объектов и сотки объектов меньшей значимости. Мы проектировали разделы ППР «Атомная станция в Бангладеш», несколько инженерных объектов в порту Луги, крупный железнодорожный узел «Восточный-Находка», крупные водоводы г. Санкт-Петербурга, Тоннельные переходы г. Москвы. Мы занимаемся культурным наследием, и наши значимые объекты — «Церковь Успения в д. Мелётово с росписью 1462 г. (Псковская область, Псковский район, д. Мелётово)» и "Собор Троицкий, Троицкого Михаило-Клопского монастыря, 1569 г." (Новгородская область, д. Сельцо). На этих объектах был получен колоссальный практический опыт, применены инновационные решения, приведшие к правильному распределению этапности работ, что привело к уменьшению затрат на технику и сроки производства работ.
              p Люди, которые работают в нашей команде, действующие строители, кто-то перешёл в проектирование в 2017-2021 гг. Я работал на наружных сетях водоснабжения и канализования до 2018 г., совмещая строительство в государственных и частных структурах и свое проектирование (мне это доставляло внутренне удовлетворение, и уводило от повседневных строительных проблем).
          .about__info
            .about__image
              img(src='/image/illustration/about_1.jpg' srcset='/image/illustration/about_1@2x.jpg 2x' loading='lazy' alt='illustration')
              .about__count
                span 17 711
                br
                | проектов
            .about__image
              img(src='/image/illustration/about_2.jpg' srcset='/image/illustration/about_2@2x.jpg 2x' loading='lazy' alt='illustration')
              .about__count
                span 382
                br
                | заказчика
        .about__text
          p Отдельно хотел бы отметить своего ШЕФА Владимира Андреевича (человека с большой, правильно поняли!). В 2008 г. он отправил группу молодых инженеров предприятия на стажировку в Германию, в числе которых посчастливилось быть мне. Там уделяют большое внимание до производственной инженерной подготовке объекта. Используя при этом не только общий опыт временных рамок строительства, а и личные практические наработки своей компании. Так я наблюдал как один из работников компании по имени Пауль, считал «плевенькую» сеть в 89м на захудалой берлинской улочке. Диаметр трубы 110 мм, полиэтилен. Расчет включал: бригада, занимающаяся разработкой грунта, затраты времени на шурфовку сетей, ширину ковша экскаватора, количество мешков для мусора с затратами на загрузку и выгрузку их, а также места их складирования, ширина улицы у каждого дома по углам. Затем подготовка в цеху полиэтиленовых тройников, отводов, фланцев, задвижек, регулировочных муфт, швов сварки и затраты на каждый процесс, от сварки до обтяжки болтов. Затем движение этих людей (временные рамки задействования), затраты на их зарплату и технику. Затем на засыпку и благоустройство. Когда я пошутил с ним, сказав зачем это, давай сразу в бой? Он меня не понял, что-то выписывал пол часа, и представил мне затраты. Затем сказал, что он на это потратил всего лишь три дня вместо отведенных 8-13 (это всего лишь моя зарплата, а не зарплата всей бригады и техники-сказал он), что его ждет премия в конце месяца. И он все-таки меня удивил, кинув в конце разговора, в его фирме есть график расчета подобной улицы, и ему бы дольше задержаться просто бы не дали. Вот такая до педантичности практичность, приводящая к пониманию, а понимание приводит к экономическому процветанию предприятия.
          p Я благодарен всем своим заказчикам за бесценный опыт.
        .about__quotes
          .about__icon
            svg
              use(href='/image/icon/quotes.svg#quotes')
          q Создание высоко функциональных, сбалансированных в отношении цена-качество объектов
          .about__mission — Задача Elephant Design
  include include/cooperation
