src/view/work-pprk.pug
extends include/main

block variables
  - let title = 'Elephant design'
  - let description = ''
  - let page = 'work'

block content
  section#work
    .container
      .work.content
        .work__image
          img(src='/image/illustration/pprk.jpg' srcset='/image/illustration/pprk@2x.jpg 2x' loading='eager' alt='illustration')
        .work__main
          .work__title
            h1 Разработка ППРк
          .work__text
            p Проектирование Проекта Производства Работ кранами (далее-ППРк) разной сложности: работа башенных кранов как одиночная, так и совместная, работа в стеснённых условиях, под линиями ЛЭП, подъем груза одновременно двумя кранами.
            p Мы гарантируем согласование ППРк с Ростехнадзором и прочими контролирующими органами. При возникновении замечаний к качеству проекта - устраняем за наш счет.
  section#info
    .container
      .info.content
        .info__main
          .info__title
            h3 Нужна ли разработка ППРк?
          .info__note
            p Согласно п.101 Приказа Ростехнадзора № 533 от 15.12.2020 производство работ с применением грузоподъемных механизмов должно выполняться согласно ППР, разработанным эксплуатирующей или специализированной организацией.
          .info__text
            p В современных федеральных нормах термин ППРк не применяется, на данный момент- ППР работа ПС (подъемных средств)
            p Таким образом:
            ul
              li · разработка ППРк на автомобильный кран выполняется в составе основных работ ППР (это значит если выполняется ППР на монтаж   li наружной канализации, значит в его составе есть ТК (технологическая карта применения подъемных средств на данном объекте);
              li · при использовании башенных кранов отдельный ППРк - необходим.
        .info__main
          .info__title
            h3 Требования к ППР на кран
          .info__text
            p Заказчику недостаточно ваших гарантий о выбранном кране и заверений, что «все поднимем, все смонтируем», важен ППРк (Проект производства работ кранами), в котором – произведен расчет грузо-высотных характеристик объекта, показана работа крана, обеспечены меры безопасности людей и имущества во время работ.
            p
              | По правилам ППРк подписывается лицом, обученным на проектирование ППРк.
              br
              | ППРк должен соответствовать РД 11-06-2007 и Приказу Ростехнадзора от 12 ноября 2013 г. N 533.
            p Согласно норм ППРк на работу краном необходим для:
            ul
              li · мостовых кранов (штабелеры);
              li · грузоподъемных кранов всех типов;
              li · кранов-манипуляторов;
              li · кранов-трубоукладчиков;
              li · грузовые электрических тележек, передвигающихся по надземным рельсовым путям вместе с кабиной управления;
              li · строительных подъемников и вышек;
              li · кранов-экскаваторов, предназначенных только для работы с крюком, подвешенным на канате, или электромагнитом;
            p Проект производства работ кранами не требуется для подъемных устройств:
            ul
              li · с ручным приводом, лифтов, эскалаторов, электро- и автопогрузчиков, эвакуаторов автомобилей;
              li · установленных в шахтах, на судах и иных плавучих средствах;
              li · предназначенных для работы только в исполнении, исключающем применение грузозахватных приспособлений, с навесным оборудованием (вибропогружателями, шпунтовыдергивателями, буровым оборудованием), кабин (люлек) для транспортировки людей;
              li · манипуляторов, используемые в технологических процессах.
        .info__main
          .info__title
            h3 Экспертиза и регистрация Проектов производства работ на кран
          .info__text
            p C 05.03.2013 экспертиза Проектов производства работ кранами (ППРк), регистрация и согласование в органах Ростехнадзора не требуется. За исключением случаев транспортировки людей краном.
        .info__main
          .info__title
            h3 Проект производства работ кранами – преимущество и экономия
          .info__text
            p Стоимости аренды крана зависит от грузо-высотных характеристик крана: чем мощнее кран – тем дороже его аренда. При подборе крана учитывается 2 основные характеристики: грузоподъемность и длина стрелы. Но один и тот же груз можно смонтировать краном 32 т или 25 т.
            p Каждый кран обладает несколькими кривыми грузоподъёмности, которые зависят от вылета стрелы (расстояние по горизонтали от крана до груза), длины стрелы и угла наклона.
            p Поэтому в ППРк для подбора крана следуем последовательности:
            ul
              li 1. Определяем место стоянки машины с грузом не ближе минимального радиуса крана при данном вылете стрелы;
              li 2. Расчет опасных зон и варианты их уменьшения;
              li 3. Места нахождения монтажников и их перемещения;
              li 4. Выбираем стропы, траверсы и т.д. исходя из параметров груза и монтажных проушин;
              li 5. Ориентировочно подбираем кран исходя из массы груза, высоты подъема груза и расстояния;
              li 6. Проверяем ограничения работы: коммуникации под опорами, существующие деревья, вращение башни крана, минимальные зазоры li от препятствий, расчет и периметр опасных зон, встречающиеся преграды перемещению груза. При наличии любого ограничения li переходим к п. 1;
              li 7. Размещаем кран на стройплощадке, обрисовываем его на вертикальном разрезе, максимально близко к точке монтажа;
              li 8. Проверяем возможность применения гуська, достаточно ли места для его монтажа;
              li 9. Проверяем возможность крана меньшей грузоподъёмности.
            p При выполнении всех этих пунктов всегда удается подобрать кран с минимальными грузовыми характеристиками.
  include include/examples
  include include/cooperation

public/work-pprk.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Elephant design</title>
    <!-- meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ilya Lynd ilya.lynd@gmail.com">
    <meta name="theme-color" content="#f4f4f6">
    <!-- icon & css-->
    <link href="/image/favicon-32.png" rel="icon" sizes="32x32">
    <link href="/image/favicon-128.png" rel="icon" sizes="128x128">
    <link href="/image/favicon-180.png" rel="apple-touch-icon" sizes="180x180">
    <link href="/image/favicon-192.png" rel="icon" sizes="192x192">
    <link href="/manifest.json" rel="manifest">
  <link href="/assets/css/main.css?v=79a069c" rel="stylesheet"></head>
  <body>
    <div id="app">
<header>
  <div class="container">
    <div class="header content">
      <div class="header-logo"><a href="/" title="Elephant design"><img src="/image/logo.svg" alt="Elephant design"></a></div>
      <nav class="header-menu">
        <ul>
          <li><a href="/#types" data-action="scroll-to" title="Виды работ">Виды работ</a></li>
          <li><a href="#examples" data-action="scroll-to" title="Скачать проекты">Скачать проекты</a></li>
          <li><a href="/#about" data-action="scroll-to" title="О нас">О нас</a></li>
          <li><a href="#cooperation" data-action="scroll-to" title="Оставить заявку">Оставить заявку</a></li>
          <li><a href="tel:+79110857803" title="Позвонить">+79110857803</a></li>
          <li><a href="mailto:dhon-velogon@yandex.ru" title="Написать">dhon-velogon@yandex.ru</a></li>
        </ul>
      </nav>
      <div class="header-menu-bar"><a href="#" data-action="open-menu" title="Открыть меню">
          <svg>
            <use href="/image/icon/menu.svg#menu"></use>
          </svg></a></div>
    </div>
  </div>
</header>
<!-- Menu-->
<div class="menu"><a class="menu__close" href="#" data-action="close-menu" title="Закрыть меню">
    <svg>
      <use href="/image/icon/close.svg#close"></use>
    </svg></a>
  <div class="container">
    <div class="main content">
      <div class="main-logo"><a href="/" data-action="close-menu" title="Elephant design"><img src="/image/logo.svg" alt="Elephant design"></a></div>
      <nav class="main-menu">
        <ul>
          <li><a href="/#types" data-action="scroll-to" title="Виды работ">Виды работ</a></li>
          <li><a href="#examples" data-action="scroll-to" title="Скачать проекты">Скачать проекты</a></li>
          <li><a href="/#about" data-action="scroll-to" title="О нас">О нас</a></li>
          <li><a href="#cooperation" data-action="scroll-to" title="Оставить заявку">Оставить заявку</a></li>
          <li><a href="tel:+79110857803" title="Позвонить">+79110857803</a></li>
          <li><a href="mailto:dhon-velogon@yandex.ru" title="Написать">dhon-velogon@yandex.ru</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<!-- Menu end-->
      <main>
        <section id="work">
          <div class="container">
            <div class="work content">
              <div class="work__image"><img src="/image/illustration/pprk.jpg" srcset="/image/illustration/pprk@2x.jpg 2x" loading="eager" alt="illustration"></div>
              <div class="work__main">
                <div class="work__title">
                  <h1>Разработка ППРк</h1>
                </div>
                <div class="work__text">
                  <p>Проектирование Проекта Производства Работ кранами (далее-ППРк) разной сложности: работа башенных кранов как одиночная, так и совместная, работа в стеснённых условиях, под линиями ЛЭП, подъем груза одновременно двумя кранами.</p>
                  <p>Мы гарантируем согласование ППРк с Ростехнадзором и прочими контролирующими органами. При возникновении замечаний к качеству проекта - устраняем за наш счет.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="info">
          <div class="container">
            <div class="info content">
              <div class="info__main">
                <div class="info__title">
                  <h3>Нужна ли разработка ППРк?</h3>
                </div>
                <div class="info__note">
                  <p>Согласно п.101 Приказа Ростехнадзора № 533 от 15.12.2020 производство работ с применением грузоподъемных механизмов должно выполняться согласно ППР, разработанным эксплуатирующей или специализированной организацией.</p>
                </div>
                <div class="info__text">
                  <p>В современных федеральных нормах термин ППРк не применяется, на данный момент- ППР работа ПС (подъемных средств)</p>
                  <p>Таким образом:</p>
                  <ul>
                    <li>· разработка ППРк на автомобильный кран выполняется в составе основных работ ППР (это значит если выполняется ППР на монтаж   li наружной канализации, значит в его составе есть ТК (технологическая карта применения подъемных средств на данном объекте);</li>
                    <li>· при использовании башенных кранов отдельный ППРк - необходим.</li>
                  </ul>
                </div>
              </div>
              <div class="info__main">
                <div class="info__title">
                  <h3>Требования к ППР на кран</h3>
                </div>
                <div class="info__text">
                  <p>Заказчику недостаточно ваших гарантий о выбранном кране и заверений, что «все поднимем, все смонтируем», важен ППРк (Проект производства работ кранами), в котором – произведен расчет грузо-высотных характеристик объекта, показана работа крана, обеспечены меры безопасности людей и имущества во время работ.</p>
                  <p>По правилам ППРк подписывается лицом, обученным на проектирование ППРк.<br>ППРк должен соответствовать РД 11-06-2007 и Приказу Ростехнадзора от 12 ноября 2013 г. N 533.</p>
                  <p>Согласно норм ППРк на работу краном необходим для:</p>
                  <ul>
                    <li>· мостовых кранов (штабелеры);</li>
                    <li>· грузоподъемных кранов всех типов;</li>
                    <li>· кранов-манипуляторов;</li>
                    <li>· кранов-трубоукладчиков;</li>
                    <li>· грузовые электрических тележек, передвигающихся по надземным рельсовым путям вместе с кабиной управления;</li>
                    <li>· строительных подъемников и вышек;</li>
                    <li>· кранов-экскаваторов, предназначенных только для работы с крюком, подвешенным на канате, или электромагнитом;</li>
                  </ul>
                  <p>Проект производства работ кранами не требуется для подъемных устройств:</p>
                  <ul>
                    <li>· с ручным приводом, лифтов, эскалаторов, электро- и автопогрузчиков, эвакуаторов автомобилей;</li>
                    <li>· установленных в шахтах, на судах и иных плавучих средствах;</li>
                    <li>· предназначенных для работы только в исполнении, исключающем применение грузозахватных приспособлений, с навесным оборудованием (вибропогружателями, шпунтовыдергивателями, буровым оборудованием), кабин (люлек) для транспортировки людей;</li>
                    <li>· манипуляторов, используемые в технологических процессах.</li>
                  </ul>
                </div>
              </div>
              <div class="info__main">
                <div class="info__title">
                  <h3>Экспертиза и регистрация Проектов производства работ на кран</h3>
                </div>
                <div class="info__text">
                  <p>C 05.03.2013 экспертиза Проектов производства работ кранами (ППРк), регистрация и согласование в органах Ростехнадзора не требуется. За исключением случаев транспортировки людей краном.</p>
                </div>
              </div>
              <div class="info__main">
                <div class="info__title">
                  <h3>Проект производства работ кранами – преимущество и экономия</h3>
                </div>
                <div class="info__text">
                  <p>Стоимости аренды крана зависит от грузо-высотных характеристик крана: чем мощнее кран – тем дороже его аренда. При подборе крана учитывается 2 основные характеристики: грузоподъемность и длина стрелы. Но один и тот же груз можно смонтировать краном 32 т или 25 т.</p>
                  <p>Каждый кран обладает несколькими кривыми грузоподъёмности, которые зависят от вылета стрелы (расстояние по горизонтали от крана до груза), длины стрелы и угла наклона.</p>
                  <p>Поэтому в ППРк для подбора крана следуем последовательности:</p>
                  <ul>
                    <li>1. Определяем место стоянки машины с грузом не ближе минимального радиуса крана при данном вылете стрелы;</li>
                    <li>2. Расчет опасных зон и варианты их уменьшения;</li>
                    <li>3. Места нахождения монтажников и их перемещения;</li>
                    <li>4. Выбираем стропы, траверсы и т.д. исходя из параметров груза и монтажных проушин;</li>
                    <li>5. Ориентировочно подбираем кран исходя из массы груза, высоты подъема груза и расстояния;</li>
                    <li>6. Проверяем ограничения работы: коммуникации под опорами, существующие деревья, вращение башни крана, минимальные зазоры li от препятствий, расчет и периметр опасных зон, встречающиеся преграды перемещению груза. При наличии любого ограничения li переходим к п. 1;</li>
                    <li>7. Размещаем кран на стройплощадке, обрисовываем его на вертикальном разрезе, максимально близко к точке монтажа;</li>
                    <li>8. Проверяем возможность применения гуська, достаточно ли места для его монтажа;</li>
                    <li>9. Проверяем возможность крана меньшей грузоподъёмности.</li>
                  </ul>
                  <p>При выполнении всех этих пунктов всегда удается подобрать кран с минимальными грузовыми характеристиками.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
<section id="examples">
  <div class="container">
    <div class="examples content">
      <div class="examples__title">
        <h2>Примеры работ</h2>
      </div>
      <ul class="examples-list">
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>Газоснабжение котельной</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/im-hmL6vvv4pJA" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>ППР на монтаж М/К при строительстве крытого спортивного комплекса</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/Nl-oNNUsdq3I4w" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>ППР по строительству наружного водопровода и канализации</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/hQrep6TXH9VTPw" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>ППР на отделочные работы</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/_CGngI0p0ElAHg" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>ППР на прокладку тепловых сетей</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/2W4JzntyC6eyng" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>ППР на отопление и вентиляцию здания</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/NLP-QaJulSAL0g" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>ППР на устройство катлована</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/yUWo2LxevLGazA" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>ППР на устройство свайного основания</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/teeKqCCJDRol5w" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<section id="cooperation">
  <div class="container">
    <div class="cooperation content">
      <div class="cooperation__image">
        <picture>
          <source srcset="/image/illustration/cooperation.jpg 1x, /image/illustration/cooperation@2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg"><img src="/image/illustration/cooperation.m.jpg" srcset="/image/illustration/cooperation.m@2x.jpg 2x" loading="lazy" alt="illustration">
        </picture>
      </div>
      <div class="cooperation__main">
        <div class="cooperation__title">
          <h2>Мы готовы к сотрудничеству!</h2>
        </div>
        <div class="cooperation__info">
          <p>Свяжитесь с нами любым удобным для Вас способом:</p>
          <p>Эл.почта: <a href="mailto:dhon-velogon@yandex.ru" title="Написать">dhon-velogon@yandex.ru</a></p>
          <p>Whatsapp: <a href="//wa.me/79110857803?text=" target="_blank" title="Написать в Whatsapp">+7 (911) 085-78-03</a></p>
          <p>Или оставьте свои контакты:</p>
        </div>
        <form class="form cooperation__form" name="cooperation" action="/" autocomplete="off" accept-charset="utf-8">
          <fieldset class="form__line">
            <input class="form__input" type="text" name="contact" required placeholder="Email, номер телефона" value="" title="Введите ваш email или номер телефона">
            <div class="form__button">
              <div class="button"><a href="#" data-action="send-form" title="Отправить">Отправить</a></div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>
      </main>
<footer>
  <div class="container">
    <div class="footer content">
      <nav class="footer-menu">
        <ul>
          <li><a href="#examples" data-action="scroll-to" title="Скачать проекты">Скачать проекты</a></li>
          <li><a href="tel:+79110857803" title="Позвонить">+79110857803</a></li>
          <li><a href="mailto:dhon-velogon@yandex.ru" title="Написать">dhon-velogon@yandex.ru</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
    </div>
    <!-- js-->
  <script defer src="/assets/js/main.js?v=f5d9091"></script></body>
</html>
