src/view/work-ppr.pug
extends include/main

block variables
  - let title = 'Elephant design'
  - let description = ''
  - let page = 'work'

block content
  section#work
    .container
      .work.content
        .work__image
          img(src='/image/illustration/ppr.jpg' srcset='/image/illustration/ppr@2x.jpg 2x' loading='eager' alt='illustration')
        .work__main
          .work__title
            h1 Разработка ППР
          .work__text
            p Проект производства работ (ППР) – это организационно-технологическая документация, разрабатываемая с целью выбора наиболее эффективной технологии строительно-монтажных работ, способствующей сокращению строительства и улучшению качества работ.
  section#info
    .container
      .info.content
        .info__main
          .info__title
            h3 ППР на устройство наружных инженерных
          .info__text
            p Проект Производства Работ на устройство наружных инженерных сетей за 3-8 дней (учитывается сложность и специфичность объекта). Проект выполняется на монтаж трубопроводов водопровода, канализации, ливневой канализации, теплотрассы, газопровода, прокладки кабелей. По желанию Заказчика выполняются методы открытой прокладки сетей, бестраншейной прокладки, горизонтально-направленного бурения (ГНБ), бурошнековое бурение, микротоннелирование, прокол (все менее актуальная технология), продавливание трубопроводов (2012-2014 проект Синопская набережная) санация трубопроводов (восстановление трубопроводов методом «чулок», нанесение ЦПС, полимерный чулок).
            p
              | По желанию Заказчика производится оценка экономических затрат и предложение оптимальных методов работы (к примеру - замена траншейного способа прокладки водопровода на бестраншейную. Включает расчет земляных масс котлованов и разметка их на плане, задействованная техника+малая механизация - машино/часы, общее время производства работ-человеко/часы).
              br
              | ППР на сети проектируется под объект с учетом проектной документации если имеется то ПОС и ПОДД. Типовые проекты производства работ исключены.
        .info__main
          .info__title
            h3 ППР на прокладку водопровода, канализации, ливневой канализации и теплосети
          .info__text
            p Что необходимо для разработки ППР
            ul
              li · стройгенплан (ПОС если имеется), генплан
              li · ПОДД (при выходе на проезжую часть)
              li · рабочий проект (план, профиль сети)
              li · график производства работ (на основании этого документа).
            p Проект производства работ на монтаж сети трубопроводов водопровода, канализации водостока и теплосети будет содержать пояснительную записку (в объеме 30-70 листов) и графическую часть (5-12 листов). Наполнение проекта ППР зависит от видов работ при прокладке трубопроводов и примерно состоит из:
            ul
              li · Пояснительная записка (описание технологий, качество и приемка работ, охрана труда)
              li · стройгенплан
              li · технология раскопки траншей с креплением
              li · забуривание шпунтового ограждения
              li · паспорт крепления траншей и котлована
              li · технология монтажа труб
              li · прокладка сетей закрытым способом (ГНБ, продавливание, микротоннель, бурошнековая проходка)
              li · устройство камер и колодцев
              li · работа крана и схемы строповки
        .info__main
          .info__title
            h3 ППР на прокладку кабеля
          .info__text
            p Исходные данные для разработки проекта производства работ на кабельные линии:
            ul
              li · стройгенплан (ПОС - если разрабатывался)
              li · ПОДД (при выходе на проезжую часть)
              li · рабочий проект (план сети)
              li · график производства работ (на основании этого документа если требует представитель надзора Заказчика, проектируется график потребности техники, движения рабочих кадров, потребности материалов).
            p В ППР на водопровод включены:
            ul
              li · Пояснительная записка.
              li · Технология работ в виде ТК.
              li · Требования качества и приемке работ (операционный контроль).
              li · Требования техники безопасности и охрана труда.
              li · Раздел по экологии в составе требований к ППР.
              li · Стройгенплан.
              li · Графики.
            p Согласовывается с заказчиком участки прокладки сети (захватки) и прочие условия производства работ.
        .info__main
          .info__title
            h3 Стоимость ППР на сети
          .info__text
            p Стоимость ППР на инженерные сети - от 21 000 руб., Ценообразование не зависит от протяженности трассы, скорее от представителей контролирующих органов.
  include include/examples
  include include/cooperation

public/work-ppr.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Elephant design</title>
    <!-- meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ilya Lynd ilya.lynd@gmail.com">
    <meta name="theme-color" content="#f4f4f6">
    <!-- icon & css-->
    <link href="/image/favicon-32.png" rel="icon" sizes="32x32">
    <link href="/image/favicon-128.png" rel="icon" sizes="128x128">
    <link href="/image/favicon-180.png" rel="apple-touch-icon" sizes="180x180">
    <link href="/image/favicon-192.png" rel="icon" sizes="192x192">
    <link href="/manifest.json" rel="manifest">
  <link href="/assets/css/main.css?v=79a069c" rel="stylesheet"></head>
  <body>
    <div id="app">
<header>
  <div class="container">
    <div class="header content">
      <div class="header-logo"><a href="/" title="Elephant design"><img src="/image/logo.svg" alt="Elephant design"></a></div>
      <nav class="header-menu">
        <ul>
          <li><a href="/#types" data-action="scroll-to" title="Виды работ">Виды работ</a></li>
          <li><a href="#examples" data-action="scroll-to" title="Скачать проекты">Скачать проекты</a></li>
          <li><a href="/#about" data-action="scroll-to" title="О нас">О нас</a></li>
          <li><a href="#cooperation" data-action="scroll-to" title="Оставить заявку">Оставить заявку</a></li>
          <li><a href="tel:+79110857803" title="Позвонить">+79110857803</a></li>
          <li><a href="mailto:dhon-velogon@yandex.ru" title="Написать">dhon-velogon@yandex.ru</a></li>
        </ul>
      </nav>
      <div class="header-menu-bar"><a href="#" data-action="open-menu" title="Открыть меню">
          <svg>
            <use href="/image/icon/menu.svg#menu"></use>
          </svg></a></div>
    </div>
  </div>
</header>
<!-- Menu-->
<div class="menu"><a class="menu__close" href="#" data-action="close-menu" title="Закрыть меню">
    <svg>
      <use href="/image/icon/close.svg#close"></use>
    </svg></a>
  <div class="container">
    <div class="main content">
      <div class="main-logo"><a href="/" data-action="close-menu" title="Elephant design"><img src="/image/logo.svg" alt="Elephant design"></a></div>
      <nav class="main-menu">
        <ul>
          <li><a href="/#types" data-action="scroll-to" title="Виды работ">Виды работ</a></li>
          <li><a href="#examples" data-action="scroll-to" title="Скачать проекты">Скачать проекты</a></li>
          <li><a href="/#about" data-action="scroll-to" title="О нас">О нас</a></li>
          <li><a href="#cooperation" data-action="scroll-to" title="Оставить заявку">Оставить заявку</a></li>
          <li><a href="tel:+79110857803" title="Позвонить">+79110857803</a></li>
          <li><a href="mailto:dhon-velogon@yandex.ru" title="Написать">dhon-velogon@yandex.ru</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<!-- Menu end-->
      <main>
        <section id="work">
          <div class="container">
            <div class="work content">
              <div class="work__image"><img src="/image/illustration/ppr.jpg" srcset="/image/illustration/ppr@2x.jpg 2x" loading="eager" alt="illustration"></div>
              <div class="work__main">
                <div class="work__title">
                  <h1>Разработка ППР</h1>
                </div>
                <div class="work__text">
                  <p>Проект производства работ (ППР) – это организационно-технологическая документация, разрабатываемая с целью выбора наиболее эффективной технологии строительно-монтажных работ, способствующей сокращению строительства и улучшению качества работ.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="info">
          <div class="container">
            <div class="info content">
              <div class="info__main">
                <div class="info__title">
                  <h3>ППР на устройство наружных инженерных</h3>
                </div>
                <div class="info__text">
                  <p>Проект Производства Работ на устройство наружных инженерных сетей за 3-8 дней (учитывается сложность и специфичность объекта). Проект выполняется на монтаж трубопроводов водопровода, канализации, ливневой канализации, теплотрассы, газопровода, прокладки кабелей. По желанию Заказчика выполняются методы открытой прокладки сетей, бестраншейной прокладки, горизонтально-направленного бурения (ГНБ), бурошнековое бурение, микротоннелирование, прокол (все менее актуальная технология), продавливание трубопроводов (2012-2014 проект Синопская набережная) санация трубопроводов (восстановление трубопроводов методом «чулок», нанесение ЦПС, полимерный чулок).</p>
                  <p>По желанию Заказчика производится оценка экономических затрат и предложение оптимальных методов работы (к примеру - замена траншейного способа прокладки водопровода на бестраншейную. Включает расчет земляных масс котлованов и разметка их на плане, задействованная техника+малая механизация - машино/часы, общее время производства работ-человеко/часы).<br>ППР на сети проектируется под объект с учетом проектной документации если имеется то ПОС и ПОДД. Типовые проекты производства работ исключены.</p>
                </div>
              </div>
              <div class="info__main">
                <div class="info__title">
                  <h3>ППР на прокладку водопровода, канализации, ливневой канализации и теплосети</h3>
                </div>
                <div class="info__text">
                  <p>Что необходимо для разработки ППР</p>
                  <ul>
                    <li>· стройгенплан (ПОС если имеется), генплан</li>
                    <li>· ПОДД (при выходе на проезжую часть)</li>
                    <li>· рабочий проект (план, профиль сети)</li>
                    <li>· график производства работ (на основании этого документа).</li>
                  </ul>
                  <p>Проект производства работ на монтаж сети трубопроводов водопровода, канализации водостока и теплосети будет содержать пояснительную записку (в объеме 30-70 листов) и графическую часть (5-12 листов). Наполнение проекта ППР зависит от видов работ при прокладке трубопроводов и примерно состоит из:</p>
                  <ul>
                    <li>· Пояснительная записка (описание технологий, качество и приемка работ, охрана труда)</li>
                    <li>· стройгенплан</li>
                    <li>· технология раскопки траншей с креплением</li>
                    <li>· забуривание шпунтового ограждения</li>
                    <li>· паспорт крепления траншей и котлована</li>
                    <li>· технология монтажа труб</li>
                    <li>· прокладка сетей закрытым способом (ГНБ, продавливание, микротоннель, бурошнековая проходка)</li>
                    <li>· устройство камер и колодцев</li>
                    <li>· работа крана и схемы строповки</li>
                  </ul>
                </div>
              </div>
              <div class="info__main">
                <div class="info__title">
                  <h3>ППР на прокладку кабеля</h3>
                </div>
                <div class="info__text">
                  <p>Исходные данные для разработки проекта производства работ на кабельные линии:</p>
                  <ul>
                    <li>· стройгенплан (ПОС - если разрабатывался)</li>
                    <li>· ПОДД (при выходе на проезжую часть)</li>
                    <li>· рабочий проект (план сети)</li>
                    <li>· график производства работ (на основании этого документа если требует представитель надзора Заказчика, проектируется график потребности техники, движения рабочих кадров, потребности материалов).</li>
                  </ul>
                  <p>В ППР на водопровод включены:</p>
                  <ul>
                    <li>· Пояснительная записка.</li>
                    <li>· Технология работ в виде ТК.</li>
                    <li>· Требования качества и приемке работ (операционный контроль).</li>
                    <li>· Требования техники безопасности и охрана труда.</li>
                    <li>· Раздел по экологии в составе требований к ППР.</li>
                    <li>· Стройгенплан.</li>
                    <li>· Графики.</li>
                  </ul>
                  <p>Согласовывается с заказчиком участки прокладки сети (захватки) и прочие условия производства работ.</p>
                </div>
              </div>
              <div class="info__main">
                <div class="info__title">
                  <h3>Стоимость ППР на сети</h3>
                </div>
                <div class="info__text">
                  <p>Стоимость ППР на инженерные сети - от 21 000 руб., Ценообразование не зависит от протяженности трассы, скорее от представителей контролирующих органов.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
<section id="examples">
  <div class="container">
    <div class="examples content">
      <div class="examples__title">
        <h2>Примеры работ</h2>
      </div>
      <ul class="examples-list">
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>Газоснабжение котельной</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/im-hmL6vvv4pJA" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>ППР на монтаж М/К при строительстве крытого спортивного комплекса</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/Nl-oNNUsdq3I4w" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>ППР по строительству наружного водопровода и канализации</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/hQrep6TXH9VTPw" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>ППР на отделочные работы</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/_CGngI0p0ElAHg" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>ППР на прокладку тепловых сетей</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/2W4JzntyC6eyng" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>ППР на отопление и вентиляцию здания</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/NLP-QaJulSAL0g" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>ППР на устройство катлована</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/yUWo2LxevLGazA" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>ППР на устройство свайного основания</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/teeKqCCJDRol5w" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<section id="cooperation">
  <div class="container">
    <div class="cooperation content">
      <div class="cooperation__image">
        <picture>
          <source srcset="/image/illustration/cooperation.jpg 1x, /image/illustration/cooperation@2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg"><img src="/image/illustration/cooperation.m.jpg" srcset="/image/illustration/cooperation.m@2x.jpg 2x" loading="lazy" alt="illustration">
        </picture>
      </div>
      <div class="cooperation__main">
        <div class="cooperation__title">
          <h2>Мы готовы к сотрудничеству!</h2>
        </div>
        <div class="cooperation__info">
          <p>Свяжитесь с нами любым удобным для Вас способом:</p>
          <p>Эл.почта: <a href="mailto:dhon-velogon@yandex.ru" title="Написать">dhon-velogon@yandex.ru</a></p>
          <p>Whatsapp: <a href="//wa.me/79110857803?text=" target="_blank" title="Написать в Whatsapp">+7 (911) 085-78-03</a></p>
          <p>Или оставьте свои контакты:</p>
        </div>
        <form class="form cooperation__form" name="cooperation" action="/" autocomplete="off" accept-charset="utf-8">
          <fieldset class="form__line">
            <input class="form__input" type="text" name="contact" required placeholder="Email, номер телефона" value="" title="Введите ваш email или номер телефона">
            <div class="form__button">
              <div class="button"><a href="#" data-action="send-form" title="Отправить">Отправить</a></div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>
      </main>
<footer>
  <div class="container">
    <div class="footer content">
      <nav class="footer-menu">
        <ul>
          <li><a href="#examples" data-action="scroll-to" title="Скачать проекты">Скачать проекты</a></li>
          <li><a href="tel:+79110857803" title="Позвонить">+79110857803</a></li>
          <li><a href="mailto:dhon-velogon@yandex.ru" title="Написать">dhon-velogon@yandex.ru</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
    </div>
    <!-- js-->
  <script defer src="/assets/js/main.js?v=f5d9091"></script></body>
</html>
