src/view/work-tk.pug
extends include/main

block variables
  - let title = 'Elephant design'
  - let description = ''
  - let page = 'work'

block content
  section#work
    .container
      .work.content
        .work__main.work__main--wide
          .work__title
            h1 Технологическая карта
          .work__text.work__text--short
            p это стандартизированный организационно-технологический документ, содержащий необходимые сведения и инструкции для выполнения некого технологического процесса или технического обслуживания объекта.
  section#info
    .container
      .info.content
        .info__main
          .info__title
            h3 Состав технологической карты (в соответствии МДС 12-29.2006)
          .info__text
            p Технологическая карта (далее-ТК) состоит, как правило, из следующих разделов:
            ul
              li - область применения;
              li - общие положения;
              li - организация и технология выполнения работ;
              li - требования к качеству работ;
              li - потребность в материально-технических ресурсах (это график производства работ, график потребности в чел. ресурсах, график   li поставки основных строй. материалов, график потребности техники);
              li - техника безопасности и охрана труда;
              li - технико-экономические показатели.
        .info__main
          .info__title
            h3 Область применения
          .info__text
            p Не используя терминологию СП, МДС и пр. Это виды работ, на которые разработана ТК. Примеры: наружная прокладка водопровода Ø 400 мм. ТК. Монтаж окон. ТК Монтаж мягкой кровли.
        .info__main
          .info__title
            h3 Общие положения
          .info__text
            p В технологической карте следует установить требования к качеству и способы его проверки:
            ul
              li - предшествующих работ;
              li - материалов и изделий, поступающих в производство;
              li - выполнения технологических операций и процесса в целом.
        .info__main
          .info__title
            h3 Организация и технология выполнения работ
          .info__text
            p
              | Основной раздел ТК в нем необходимо указать технологию производства работ.
              br
              | Раздел подразделяется на подразделы:
            ul
              li - подготовительные,
              li - основные
              li - заключительные работы.
            p
              | Подготовительный.
              br
              | В подразделе «Подготовительные работы» необходимо указать, какие проектные, технологические и разрешительные документы необходимы для выполнения работ, как должна быть произведена комплектация строительных материалов и изделий, как выбраны строительные машины, технологическое оборудование и оснастка, как организуются строительная площадка и рабочие места (планировка, защита деревьев и кустарников, устройство транспортных путей и стоянок, водоснабжения и канализации, энергоснабжения, установка осветительной аппаратуры, противопожарных средств, предупредительных знаков и щитов ограждений и т.п.).
            p
              | Основной.
              br
              | В подразделе «Основные работы» указывается, как технологии строительных работ подразделяются на технологические процессы, а процессы — на операции, производится их описание.
              br
              | В схемы транспортирования, складирования и хранения материалов и изделий следует включать:
            ul
              li - требования к условиям перевозки и таре, перечень рекомендуемых транспортных средств и тары с указанием их основных  li характеристик и количества перевозимых материалов и конструкций;
              li - требования к организации площадки складирования, ее размерам, типу покрытия, уклонам и к температурно-влажностному режиму хранения материалов;
            p
              | Заключительный.
              br
              | В подразделе «Заключительные работы» приводятся работы, которые выполняются после основных работ: демонтаж технологического оборудования, уборка и восстановление обустройства территории (посадка деревьев и кустарников), снятие предупредительных знаков и щитов, ограждений и т.п.
  include include/examples
  include include/cooperation

public/work-tk.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Elephant design</title>
    <!-- meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ilya Lynd ilya.lynd@gmail.com">
    <meta name="theme-color" content="#f4f4f6">
    <!-- icon & css-->
    <link href="/image/favicon-32.png" rel="icon" sizes="32x32">
    <link href="/image/favicon-128.png" rel="icon" sizes="128x128">
    <link href="/image/favicon-180.png" rel="apple-touch-icon" sizes="180x180">
    <link href="/image/favicon-192.png" rel="icon" sizes="192x192">
    <link href="/manifest.json" rel="manifest">
  <link href="/assets/css/main.css?v=79a069c" rel="stylesheet"></head>
  <body>
    <div id="app">
<header>
  <div class="container">
    <div class="header content">
      <div class="header-logo"><a href="/" title="Elephant design"><img src="/image/logo.svg" alt="Elephant design"></a></div>
      <nav class="header-menu">
        <ul>
          <li><a href="/#types" data-action="scroll-to" title="Виды работ">Виды работ</a></li>
          <li><a href="#examples" data-action="scroll-to" title="Скачать проекты">Скачать проекты</a></li>
          <li><a href="/#about" data-action="scroll-to" title="О нас">О нас</a></li>
          <li><a href="#cooperation" data-action="scroll-to" title="Оставить заявку">Оставить заявку</a></li>
          <li><a href="tel:+79110857803" title="Позвонить">+79110857803</a></li>
          <li><a href="mailto:dhon-velogon@yandex.ru" title="Написать">dhon-velogon@yandex.ru</a></li>
        </ul>
      </nav>
      <div class="header-menu-bar"><a href="#" data-action="open-menu" title="Открыть меню">
          <svg>
            <use href="/image/icon/menu.svg#menu"></use>
          </svg></a></div>
    </div>
  </div>
</header>
<!-- Menu-->
<div class="menu"><a class="menu__close" href="#" data-action="close-menu" title="Закрыть меню">
    <svg>
      <use href="/image/icon/close.svg#close"></use>
    </svg></a>
  <div class="container">
    <div class="main content">
      <div class="main-logo"><a href="/" data-action="close-menu" title="Elephant design"><img src="/image/logo.svg" alt="Elephant design"></a></div>
      <nav class="main-menu">
        <ul>
          <li><a href="/#types" data-action="scroll-to" title="Виды работ">Виды работ</a></li>
          <li><a href="#examples" data-action="scroll-to" title="Скачать проекты">Скачать проекты</a></li>
          <li><a href="/#about" data-action="scroll-to" title="О нас">О нас</a></li>
          <li><a href="#cooperation" data-action="scroll-to" title="Оставить заявку">Оставить заявку</a></li>
          <li><a href="tel:+79110857803" title="Позвонить">+79110857803</a></li>
          <li><a href="mailto:dhon-velogon@yandex.ru" title="Написать">dhon-velogon@yandex.ru</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<!-- Menu end-->
      <main>
        <section id="work">
          <div class="container">
            <div class="work content">
              <div class="work__main work__main--wide">
                <div class="work__title">
                  <h1>Технологическая карта</h1>
                </div>
                <div class="work__text work__text--short">
                  <p>это стандартизированный организационно-технологический документ, содержащий необходимые сведения и инструкции для выполнения некого технологического процесса или технического обслуживания объекта.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="info">
          <div class="container">
            <div class="info content">
              <div class="info__main">
                <div class="info__title">
                  <h3>Состав технологической карты (в соответствии МДС 12-29.2006)</h3>
                </div>
                <div class="info__text">
                  <p>Технологическая карта (далее-ТК) состоит, как правило, из следующих разделов:</p>
                  <ul>
                    <li>- область применения;</li>
                    <li>- общие положения;</li>
                    <li>- организация и технология выполнения работ;</li>
                    <li>- требования к качеству работ;</li>
                    <li>- потребность в материально-технических ресурсах (это график производства работ, график потребности в чел. ресурсах, график   li поставки основных строй. материалов, график потребности техники);</li>
                    <li>- техника безопасности и охрана труда;</li>
                    <li>- технико-экономические показатели.</li>
                  </ul>
                </div>
              </div>
              <div class="info__main">
                <div class="info__title">
                  <h3>Область применения</h3>
                </div>
                <div class="info__text">
                  <p>Не используя терминологию СП, МДС и пр. Это виды работ, на которые разработана ТК. Примеры: наружная прокладка водопровода Ø 400 мм. ТК. Монтаж окон. ТК Монтаж мягкой кровли.</p>
                </div>
              </div>
              <div class="info__main">
                <div class="info__title">
                  <h3>Общие положения</h3>
                </div>
                <div class="info__text">
                  <p>В технологической карте следует установить требования к качеству и способы его проверки:</p>
                  <ul>
                    <li>- предшествующих работ;</li>
                    <li>- материалов и изделий, поступающих в производство;</li>
                    <li>- выполнения технологических операций и процесса в целом.</li>
                  </ul>
                </div>
              </div>
              <div class="info__main">
                <div class="info__title">
                  <h3>Организация и технология выполнения работ</h3>
                </div>
                <div class="info__text">
                  <p>Основной раздел ТК в нем необходимо указать технологию производства работ.<br>Раздел подразделяется на подразделы:</p>
                  <ul>
                    <li>- подготовительные,</li>
                    <li>- основные</li>
                    <li>- заключительные работы.</li>
                  </ul>
                  <p>Подготовительный.<br>В подразделе «Подготовительные работы» необходимо указать, какие проектные, технологические и разрешительные документы необходимы для выполнения работ, как должна быть произведена комплектация строительных материалов и изделий, как выбраны строительные машины, технологическое оборудование и оснастка, как организуются строительная площадка и рабочие места (планировка, защита деревьев и кустарников, устройство транспортных путей и стоянок, водоснабжения и канализации, энергоснабжения, установка осветительной аппаратуры, противопожарных средств, предупредительных знаков и щитов ограждений и т.п.).</p>
                  <p>Основной.<br>В подразделе «Основные работы» указывается, как технологии строительных работ подразделяются на технологические процессы, а процессы — на операции, производится их описание.<br>В схемы транспортирования, складирования и хранения материалов и изделий следует включать:</p>
                  <ul>
                    <li>- требования к условиям перевозки и таре, перечень рекомендуемых транспортных средств и тары с указанием их основных  li характеристик и количества перевозимых материалов и конструкций;</li>
                    <li>- требования к организации площадки складирования, ее размерам, типу покрытия, уклонам и к температурно-влажностному режиму хранения материалов;</li>
                  </ul>
                  <p>Заключительный.<br>В подразделе «Заключительные работы» приводятся работы, которые выполняются после основных работ: демонтаж технологического оборудования, уборка и восстановление обустройства территории (посадка деревьев и кустарников), снятие предупредительных знаков и щитов, ограждений и т.п.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
<section id="examples">
  <div class="container">
    <div class="examples content">
      <div class="examples__title">
        <h2>Примеры работ</h2>
      </div>
      <ul class="examples-list">
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>Газоснабжение котельной</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/im-hmL6vvv4pJA" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>ППР на монтаж М/К при строительстве крытого спортивного комплекса</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/Nl-oNNUsdq3I4w" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>ППР по строительству наружного водопровода и канализации</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/hQrep6TXH9VTPw" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>ППР на отделочные работы</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/_CGngI0p0ElAHg" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>ППР на прокладку тепловых сетей</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/2W4JzntyC6eyng" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>ППР на отопление и вентиляцию здания</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/NLP-QaJulSAL0g" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>ППР на устройство катлована</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/yUWo2LxevLGazA" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>ППР на устройство свайного основания</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/teeKqCCJDRol5w" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<section id="cooperation">
  <div class="container">
    <div class="cooperation content">
      <div class="cooperation__image">
        <picture>
          <source srcset="/image/illustration/cooperation.jpg 1x, /image/illustration/cooperation@2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg"><img src="/image/illustration/cooperation.m.jpg" srcset="/image/illustration/cooperation.m@2x.jpg 2x" loading="lazy" alt="illustration">
        </picture>
      </div>
      <div class="cooperation__main">
        <div class="cooperation__title">
          <h2>Мы готовы к сотрудничеству!</h2>
        </div>
        <div class="cooperation__info">
          <p>Свяжитесь с нами любым удобным для Вас способом:</p>
          <p>Эл.почта: <a href="mailto:dhon-velogon@yandex.ru" title="Написать">dhon-velogon@yandex.ru</a></p>
          <p>Whatsapp: <a href="//wa.me/79110857803?text=" target="_blank" title="Написать в Whatsapp">+7 (911) 085-78-03</a></p>
          <p>Или оставьте свои контакты:</p>
        </div>
        <form class="form cooperation__form" name="cooperation" action="/" autocomplete="off" accept-charset="utf-8">
          <fieldset class="form__line">
            <input class="form__input" type="text" name="contact" required placeholder="Email, номер телефона" value="" title="Введите ваш email или номер телефона">
            <div class="form__button">
              <div class="button"><a href="#" data-action="send-form" title="Отправить">Отправить</a></div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>
      </main>
<footer>
  <div class="container">
    <div class="footer content">
      <nav class="footer-menu">
        <ul>
          <li><a href="#examples" data-action="scroll-to" title="Скачать проекты">Скачать проекты</a></li>
          <li><a href="tel:+79110857803" title="Позвонить">+79110857803</a></li>
          <li><a href="mailto:dhon-velogon@yandex.ru" title="Написать">dhon-velogon@yandex.ru</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
    </div>
    <!-- js-->
  <script defer src="/assets/js/main.js?v=f5d9091"></script></body>
</html>
