public/work-pos.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Elephant design</title>
    <!-- meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ilya Lynd ilya.lynd@gmail.com">
    <meta name="theme-color" content="#f4f4f6">
    <!-- icon & css-->
    <link href="/image/favicon-32.png" rel="icon" sizes="32x32">
    <link href="/image/favicon-128.png" rel="icon" sizes="128x128">
    <link href="/image/favicon-180.png" rel="apple-touch-icon" sizes="180x180">
    <link href="/image/favicon-192.png" rel="icon" sizes="192x192">
    <link href="/manifest.json" rel="manifest">
  <link href="/assets/css/main.css?v=79a069c" rel="stylesheet"></head>
  <body>
    <div id="app">
<header>
  <div class="container">
    <div class="header content">
      <div class="header-logo"><a href="/" title="Elephant design"><img src="/image/logo.svg" alt="Elephant design"></a></div>
      <nav class="header-menu">
        <ul>
          <li><a href="/#types" data-action="scroll-to" title="Виды работ">Виды работ</a></li>
          <li><a href="#examples" data-action="scroll-to" title="Скачать проекты">Скачать проекты</a></li>
          <li><a href="/#about" data-action="scroll-to" title="О нас">О нас</a></li>
          <li><a href="#cooperation" data-action="scroll-to" title="Оставить заявку">Оставить заявку</a></li>
          <li><a href="tel:+79110857803" title="Позвонить">+79110857803</a></li>
          <li><a href="mailto:dhon-velogon@yandex.ru" title="Написать">dhon-velogon@yandex.ru</a></li>
        </ul>
      </nav>
      <div class="header-menu-bar"><a href="#" data-action="open-menu" title="Открыть меню">
          <svg>
            <use href="/image/icon/menu.svg#menu"></use>
          </svg></a></div>
    </div>
  </div>
</header>
<!-- Menu-->
<div class="menu"><a class="menu__close" href="#" data-action="close-menu" title="Закрыть меню">
    <svg>
      <use href="/image/icon/close.svg#close"></use>
    </svg></a>
  <div class="container">
    <div class="main content">
      <div class="main-logo"><a href="/" data-action="close-menu" title="Elephant design"><img src="/image/logo.svg" alt="Elephant design"></a></div>
      <nav class="main-menu">
        <ul>
          <li><a href="/#types" data-action="scroll-to" title="Виды работ">Виды работ</a></li>
          <li><a href="#examples" data-action="scroll-to" title="Скачать проекты">Скачать проекты</a></li>
          <li><a href="/#about" data-action="scroll-to" title="О нас">О нас</a></li>
          <li><a href="#cooperation" data-action="scroll-to" title="Оставить заявку">Оставить заявку</a></li>
          <li><a href="tel:+79110857803" title="Позвонить">+79110857803</a></li>
          <li><a href="mailto:dhon-velogon@yandex.ru" title="Написать">dhon-velogon@yandex.ru</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<!-- Menu end-->
      <main>
        <section id="work">
          <div class="container">
            <div class="work content">
              <div class="work__main work__main--wide">
                <div class="work__title">
                  <h1>Разработка ПОС</h1>
                </div>
                <div class="work__text">
                  <p>Проект организации строительства (далее-ПОС) – часть технологической документации, определяет технологию производства работ, общую продолжительность и промежуточные сроки строительства, распределение капитальных вложений материальных средств и объемов СМР, материально-технические, трудовые ресурсы, основные методы выполнения СМР.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="info">
          <div class="container">
            <div class="info content">
              <div class="info__main">
                <div class="info__title">
                  <h3>Состав ПОС</h3>
                </div>
                <div class="info__note">
                  <p>В соответствии с Постановление Правительства РФ от 16.02.2008 N 87 (ред. от 01.12.2021) «О составе разделов проектной документации и требованиях к их содержанию»:</p>
                </div>
                <div class="info__text">
                  <p><b>в текстовой части</b></p>
                  <ul>
                    <li>а) характеристику района по месту расположения объекта капитального строительства и условий строительства;</li>
                    <li>б) оценку развитости транспортной инфраструктуры;</li>
                    <li>в) сведения о возможности использования местной рабочей силы при осуществлении строительства;</li>
                    <li>г) перечень мероприятий по привлечению для осуществления строительства квалифицированных специалистов, а также студенческих строительных отрядов, в том числе для выполнения работ вахтовым методом; (в ред. Постановления Правительства РФ от 07.07.2017 N 806)</li>
                    <li>д) характеристику земельного участка, предоставленного для строительства, обоснование необходимости использования для строительства земельных участков вне земельного участка, предоставляемого для строительства объекта капитального строительства;</li>
                    <li>е) описание особенностей проведения работ в условиях действующего предприятия, в местах расположения подземных коммуникаций, линий электропередачи и связи - для объектов производственного назначения;</li>
                    <li>ж) описание особенностей проведения работ в условиях стесненной городской застройки, в местах расположения подземных коммуникаций, линий электропередачи и связи - для объектов непроизводственного назначения;</li>
                    <li>з) обоснование принятой организационно-технологической схемы, определяющей последовательность возведения зданий и сооружений, инженерных и транспортных коммуникаций, обеспечивающей соблюдение установленных в календарном плане строительства сроков завершения строительства (его этапов);</li>
                    <li>и) перечень видов строительных и монтажных работ, ответственных конструкций, участков сетей инженерно-технического обеспечения, подлежащих освидетельствованию с составлением соответствующих актов приемки перед производством последующих работ и устройством последующих конструкций;</li>
                    <li>к) технологическую последовательность работ при возведении объектов капитального строительства или их отдельных элементов;</li>
                    <li>л) обоснование потребности строительства в кадрах, основных строительных машинах, механизмах, транспортных средствах, в топливе и горюче-смазочных материалах, а также в электрической энергии, паре, воде, временных зданиях и сооружениях;</li>
                    <li>м) обоснование размеров и оснащения площадок для складирования материалов, конструкций, оборудования, укрупненных модулей и стендов для их сборки. Решения по перемещению тяжеловесного негабаритного оборудования, укрупненных модулей и строительных конструкций;</li>
                    <li>н) предложения по обеспечению контроля качества строительных и монтажных работ, а также поставляемых на площадку и монтируемых оборудования, конструкций и материалов;</li>
                    <li>о) предложения по организации службы геодезического и лабораторного контроля;</li>
                    <li>п) перечень требований, которые должны быть учтены в рабочей документации, разрабатываемой на основании проектной документации, в связи с принятыми методами возведения строительных конструкций и монтажа оборудования;</li>
                    <li>р) обоснование потребности в жилье и социально-бытовом обслуживании персонала, участвующего в строительстве;</li>
                    <li>с) перечень мероприятий и проектных решений по определению технических средств и методов работы, обеспечивающих выполнение нормативных требований охраны труда;</li>
                    <li>т) описание проектных решений и мероприятий по охране окружающей среды в период строительства;<br>т(1)) описание проектных решений и мероприятий по охране объектов в период строительства;<br>(пп. "т(1)" введен Постановлением Правительства РФ от 15.02.2011 N 73) т(2)) описание проектных решений и мероприятий по реализации требований, предусмотренных пунктом 8 требований по обеспечению транспортной безопасности объектов транспортной инфраструктуры по видам транспорта на этапе их проектирования и строительства, утвержденных постановлением Правительства Российской Федерации от 23 января 2016 г. N 29 "Об утверждении требований по обеспечению транспортной безопасности объектов транспортной инфраструктуры по видам транспорта на этапе их проектирования и строительства и требований по обеспечению транспортной безопасности объектов (зданий, строений, сооружений), не являющихся объектами транспортной инфраструктуры и расположенных на земельных участках, прилегающих к объектам транспортной инфраструктуры и отнесенных в соответствии с земельным законодательством Российской Федерации к охранным зонам земель транспорта, и о внесении изменений в Положение о составе разделов проектной документации и требованиях к их содержанию";<br>(пп. "т(2)" введен Постановлением Правительства РФ от 21.04.2018 N 479) у) обоснование принятой продолжительности строительства объекта капитального строительства и его отдельных этапов;</li>
                    <li>ф) перечень мероприятий по организации мониторинга за состоянием зданий и сооружений, расположенных в непосредственной близости от строящегося объекта, земляные, строительные, монтажные и иные работы на котором могут повлиять на техническое состояние и надежность таких зданий и сооружений;</li>
                  </ul>
                  <p><b>в графической части</b></p>
                  <ul>
                    <li>а) календарный план строительства, включая подготовительный период (сроки и последовательность строительства основных и вспомогательных зданий и сооружений, выделение этапов строительства);</li>
                    <li>б) строительный генеральный план подготовительного периода строительства (при необходимости) и основного периода строительства с определением мест расположения постоянных и временных зданий и сооружений, мест размещения площадок и складов временного складирования конструкций, изделий, материалов и оборудования, мест установки стационарных кранов и путей перемещения кранов большой грузоподъемности, инженерных сетей и источников обеспечения строительной площадки водой, электроэнергией, связью, а также трасс сетей с указанием точек их подключения и мест расположения знаков закрепления разбивочных осей.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
<section id="examples">
  <div class="container">
    <div class="examples content">
      <div class="examples__title">
        <h2>Примеры работ</h2>
      </div>
      <ul class="examples-list">
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>Газоснабжение котельной</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/im-hmL6vvv4pJA" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>ППР на монтаж М/К при строительстве крытого спортивного комплекса</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/Nl-oNNUsdq3I4w" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>ППР по строительству наружного водопровода и канализации</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/hQrep6TXH9VTPw" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>ППР на отделочные работы</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/_CGngI0p0ElAHg" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>ППР на прокладку тепловых сетей</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/2W4JzntyC6eyng" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>ППР на отопление и вентиляцию здания</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/NLP-QaJulSAL0g" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>ППР на устройство катлована</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/yUWo2LxevLGazA" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
        <li class="examples-list__item">
          <div class="examples-list__title">
            <h5>ППР на устройство свайного основания</h5>
          </div>
          <div class="examples-list__button">
            <div class="button button--empty"><a href="//disk.yandex.ru/d/teeKqCCJDRol5w" target="_blank" title="Скачать">Скачать</a></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<section id="cooperation">
  <div class="container">
    <div class="cooperation content">
      <div class="cooperation__image">
        <picture>
          <source srcset="/image/illustration/cooperation.jpg 1x, /image/illustration/cooperation@2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg"><img src="/image/illustration/cooperation.m.jpg" srcset="/image/illustration/cooperation.m@2x.jpg 2x" loading="lazy" alt="illustration">
        </picture>
      </div>
      <div class="cooperation__main">
        <div class="cooperation__title">
          <h2>Мы готовы к сотрудничеству!</h2>
        </div>
        <div class="cooperation__info">
          <p>Свяжитесь с нами любым удобным для Вас способом:</p>
          <p>Эл.почта: <a href="mailto:dhon-velogon@yandex.ru" title="Написать">dhon-velogon@yandex.ru</a></p>
          <p>Whatsapp: <a href="//wa.me/79110857803?text=" target="_blank" title="Написать в Whatsapp">+7 (911) 085-78-03</a></p>
          <p>Или оставьте свои контакты:</p>
        </div>
        <form class="form cooperation__form" name="cooperation" action="/" autocomplete="off" accept-charset="utf-8">
          <fieldset class="form__line">
            <input class="form__input" type="text" name="contact" required placeholder="Email, номер телефона" value="" title="Введите ваш email или номер телефона">
            <div class="form__button">
              <div class="button"><a href="#" data-action="send-form" title="Отправить">Отправить</a></div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>
      </main>
<footer>
  <div class="container">
    <div class="footer content">
      <nav class="footer-menu">
        <ul>
          <li><a href="#examples" data-action="scroll-to" title="Скачать проекты">Скачать проекты</a></li>
          <li><a href="tel:+79110857803" title="Позвонить">+79110857803</a></li>
          <li><a href="mailto:dhon-velogon@yandex.ru" title="Написать">dhon-velogon@yandex.ru</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
    </div>
    <!-- js-->
  <script defer src="/assets/js/main.js?v=f5d9091"></script></body>
</html>

src/view/work-pos.pug
extends include/main

block variables
  - let title = 'Elephant design'
  - let description = ''
  - let page = 'work'

block content
  section#work
    .container
      .work.content
        .work__main.work__main--wide
          .work__title
            h1 Разработка ПОС
          .work__text
            p Проект организации строительства (далее-ПОС) – часть технологической документации, определяет технологию производства работ, общую продолжительность и промежуточные сроки строительства, распределение капитальных вложений материальных средств и объемов СМР, материально-технические, трудовые ресурсы, основные методы выполнения СМР.
  section#info
    .container
      .info.content
        .info__main
          .info__title
            h3 Состав ПОС
          .info__note
            p В соответствии с Постановление Правительства РФ от 16.02.2008 N 87 (ред. от 01.12.2021) «О составе разделов проектной документации и требованиях к их содержанию»:
          .info__text
            p
              b в текстовой части
            ul
              li а) характеристику района по месту расположения объекта капитального строительства и условий строительства;
              li б) оценку развитости транспортной инфраструктуры;
              li в) сведения о возможности использования местной рабочей силы при осуществлении строительства;
              li г) перечень мероприятий по привлечению для осуществления строительства квалифицированных специалистов, а также студенческих строительных отрядов, в том числе для выполнения работ вахтовым методом; (в ред. Постановления Правительства РФ от 07.07.2017 N 806)
              li д) характеристику земельного участка, предоставленного для строительства, обоснование необходимости использования для строительства земельных участков вне земельного участка, предоставляемого для строительства объекта капитального строительства;
              li е) описание особенностей проведения работ в условиях действующего предприятия, в местах расположения подземных коммуникаций, линий электропередачи и связи - для объектов производственного назначения;
              li ж) описание особенностей проведения работ в условиях стесненной городской застройки, в местах расположения подземных коммуникаций, линий электропередачи и связи - для объектов непроизводственного назначения;
              li з) обоснование принятой организационно-технологической схемы, определяющей последовательность возведения зданий и сооружений, инженерных и транспортных коммуникаций, обеспечивающей соблюдение установленных в календарном плане строительства сроков завершения строительства (его этапов);
              li и) перечень видов строительных и монтажных работ, ответственных конструкций, участков сетей инженерно-технического обеспечения, подлежащих освидетельствованию с составлением соответствующих актов приемки перед производством последующих работ и устройством последующих конструкций;
              li к) технологическую последовательность работ при возведении объектов капитального строительства или их отдельных элементов;
              li л) обоснование потребности строительства в кадрах, основных строительных машинах, механизмах, транспортных средствах, в топливе и горюче-смазочных материалах, а также в электрической энергии, паре, воде, временных зданиях и сооружениях;
              li м) обоснование размеров и оснащения площадок для складирования материалов, конструкций, оборудования, укрупненных модулей и стендов для их сборки. Решения по перемещению тяжеловесного негабаритного оборудования, укрупненных модулей и строительных конструкций;
              li н) предложения по обеспечению контроля качества строительных и монтажных работ, а также поставляемых на площадку и монтируемых оборудования, конструкций и материалов;
              li о) предложения по организации службы геодезического и лабораторного контроля;
              li п) перечень требований, которые должны быть учтены в рабочей документации, разрабатываемой на основании проектной документации, в связи с принятыми методами возведения строительных конструкций и монтажа оборудования;
              li р) обоснование потребности в жилье и социально-бытовом обслуживании персонала, участвующего в строительстве;
              li с) перечень мероприятий и проектных решений по определению технических средств и методов работы, обеспечивающих выполнение нормативных требований охраны труда;
              li
                | т) описание проектных решений и мероприятий по охране окружающей среды в период строительства;
                br
                | т(1)) описание проектных решений и мероприятий по охране объектов в период строительства;
                br
                | (пп. "т(1)" введен Постановлением Правительства РФ от 15.02.2011 N 73) т(2)) описание проектных решений и мероприятий по реализации требований, предусмотренных пунктом 8 требований по обеспечению транспортной безопасности объектов транспортной инфраструктуры по видам транспорта на этапе их проектирования и строительства, утвержденных постановлением Правительства Российской Федерации от 23 января 2016 г. N 29 "Об утверждении требований по обеспечению транспортной безопасности объектов транспортной инфраструктуры по видам транспорта на этапе их проектирования и строительства и требований по обеспечению транспортной безопасности объектов (зданий, строений, сооружений), не являющихся объектами транспортной инфраструктуры и расположенных на земельных участках, прилегающих к объектам транспортной инфраструктуры и отнесенных в соответствии с земельным законодательством Российской Федерации к охранным зонам земель транспорта, и о внесении изменений в Положение о составе разделов проектной документации и требованиях к их содержанию";
                br
                | (пп. "т(2)" введен Постановлением Правительства РФ от 21.04.2018 N 479) у) обоснование принятой продолжительности строительства объекта капитального строительства и его отдельных этапов;
              li ф) перечень мероприятий по организации мониторинга за состоянием зданий и сооружений, расположенных в непосредственной близости от строящегося объекта, земляные, строительные, монтажные и иные работы на котором могут повлиять на техническое состояние и надежность таких зданий и сооружений;
            p
              b в графической части
            ul
              li а) календарный план строительства, включая подготовительный период (сроки и последовательность строительства основных и вспомогательных зданий и сооружений, выделение этапов строительства);
              li б) строительный генеральный план подготовительного периода строительства (при необходимости) и основного периода строительства с определением мест расположения постоянных и временных зданий и сооружений, мест размещения площадок и складов временного складирования конструкций, изделий, материалов и оборудования, мест установки стационарных кранов и путей перемещения кранов большой грузоподъемности, инженерных сетей и источников обеспечения строительной площадки водой, электроэнергией, связью, а также трасс сетей с указанием точек их подключения и мест расположения знаков закрепления разбивочных осей.
  include include/examples
  include include/cooperation
